[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
coverage = "*"
flake8-django = "*"
isort = {extras = ["pipfile"],version = "*"}
flake8-isort = "*"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
pyserial = "*"
celery = "*"

[pipenv]
allow_prereleases = true
